matplotlib
numpy>=1.21.6
scikit_learn>=1.0.2
GitPython
einops
h5py
more-itertools
tensorboard
tensorboardX
pandas
hydra
hydra-joblib-launcher
hydra-core
hydra_colorlog
seaborn
tables
tqdm
scipy
ipdb
lightning-fabric